table thead{
    background-color: #3C7AB3;
    color: white;
}
.initial
{
  width: 65px;
  height: 35px;
  text-align: center;
  line-height: 2.27;
  color: #ffffff;
  background-color: #3C7AB3;
  border-radius: 50%;
  float: left;
  //margin: auto;
}