<app-menu> </app-menu>


<div class="container">
    <div style="background-color: #3C7AB3;color: white;padding: 0.125%;">
        <h3 style="text-align: center;"> Tableau des eleves </h3>
    </div>
    <br>

    <div class="row">
    <div class="col-md-12" style="margin: auto;">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>  Matricule </th>
                <th> Prenom </th>
                <th> Nom </th>
                <th> Date de naissance </th>
                <th> Lieu de naissance </th>
                <th> Niveau </th>
                <th> Noter devoir </th>
                <th> Noter composition </th>
                <th> Infos </th>
                
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let eleve of eleves">
                <td> {{eleve.matricule}}</td>
                <td> {{eleve.prenom}} </td>
                <td> {{eleve.nom}} </td>
                <td> {{eleve.dateNaissance | date}} </td>
                <td> {{eleve.lieuNaissance}} </td>
                <td> {{eleve.niveau}}</td>
                <td> 
                    <button class="btn btn-info" (click)="Noter(eleve)"> Note devoir </button>
                </td>
                <td> 
                    <button class="btn btn-info" (click)="NoterCompo(eleve)"> Note composition </button>
                </td>
                <td>
                    <div class="initial">
                        <a (click)="openDetails(eleve.matricule)"> Infos</a>
                    </div>

                </td>
               

            </tr>
        </tbody>


    </table>

</div>
</div>
</div>