<app-menu> </app-menu>
<div class="container"> 
  <div style="background-color: #3C7AB3;color: white;padding: 0.125%;">
    <h3 style="text-align: center;"> ECOLE PRIVEE </h3>
</div>
<br>
<div class="row">
<div class="col-md-6">
<form [formGroup]="myForm">
    <div class="form-group">
      <label for="nom_matiere">Nom de la matiere </label>
      <input type="text" id="nom_speciality" class="form-control" formControlName="nom_speciality" placeholder="nom matiere">
    </div>
    <div class="form-group">
      <label for="Coefficient">Coefficient</label>
      <input type="number" id="coef" class="form-control" formControlName="coef" placeholder="Coefficient">
    </div>
    

  
    <button type="submit" [disabled]="myForm.invalid" class="btn btn-primary" (click)="onSubmitForm()">Soumettre</button>
  </form>
  </div>
</div>
</div>
<br><br><br><br>
<br><br><br><br>

<app-footer> </app-footer>