<div class="container">
    <div class="row">
        <div class="col-md-8" style="margin: auto;">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th> Matiere</th>
                        <th> Moyenne devoir </th>
                        <th> Composition </th>
                        <th> Moyenne</th>
                        <th> Coef</th>
                        <th> Total </th>
                        <th> Appréciation </th>
                    </tr>

                </thead>
                <tbody>
                    <tr *ngFor="let moycont of moyenne_control_continu">
                        <td> {{moycont.matiere}}</td>
                        <td> {{moycont.noteDevoir}} </td>
                        <td> Composition </td>
                        <td> Moyenne</td>
                        <td> Coef</td>
                        <td> Total </td>
                        <td> Appréciation </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>